<h2>About Me</h2>
<p class="f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Who am I?</p>
<p> I am a student, aspiring to be a robot enthusiast some day. I graduated from Singapore Polytechnic as a Silver Medalist in my course, Diploma in Computer Engineering. I will be matriculating in National University of Singapore (NUS) BComp (CS) programme.
    To me, Robots are computers given limbs to express itself, and I am particularly intrigued in applying Deep Learning to robots. This blog will be populated with more insights regarding that soon.
</p>

<p>
    Interested in wide variety of skills, such as Artificial Intelligence, Digital Fabrication, Cloud Technology, Building Hardware and Software Solutions, I have mainly accquired skills in Digital Fabrication in my Polytechnic Years.
    I hope to learn more theoretical knowledge in University, applying them to projects, and benefitting the society.
</p>
<h3>Mentors</h3>
<p>
    <em>"Without Teacher, Life would be without Class."</em>
</p>

<p>
    I attribute my growing interest in tech to the following individuals. Without them, I would still be a lost little lamb looking for a shimmer of hope in society. Thank you for bringing the best out of me. 
</p>
{% include people.html %}