<nav class="UnderlineNavi container-md"> 
    <div class="UnderlineNav-body" style="display: block">
      <a href="/" role="tab" title="Home" class="UnderlineNav-item {% if page.collection == 'posts' %}selected{% endif %}">Blog</a>
      <!-- <a href="/digitalFabrication" role="tab" title="Digital Fabrication" class="UnderlineNav-item {%if page.collection == 'digitalFabrication' %}selected{% endif %}">Digital Fabrication</a> -->
      <a href="/myprojects" role="tab" title="My Projects" class="UnderlineNav-item {%if page.collection == 'myprojects' %}selected{% endif %}">My Projects</a>
      <a href="/about" role="tab" title="About" class="UnderlineNav-item {%if page.layout == 'about' %}selected{% endif %}">About</a>
    </div>
  </nav>