<h2>Tinkering...</h2>
<p class="f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">You seem interested in what I'm doing! Updates to arrive soon!</p>
<img src="../images/robot.png" class="mt-6"style="margin-left: auto; margin-right: auto; max-height: 200px; max-width: 200px"/>
<p class="text-white">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" class="text-white">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="text-white"> www.flaticon.com</a></p>
